<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>Home</title>
</head>

<body>
        <% include ../partials/nav.ejs %>
    <h1>Welcome to the most awesome website in the entire universe</h1>
    <p>Don't look at me like that I'm serious</p>
</body>

</html>